<nav class="navbar navbar-light navbar-expand sticky-top bg-white shadow mb-4 topbar static-top">
  <div class="container-fluid"><a routerLink="/"><i style="color:rgb(223, 129, 57);scale:1.80;" class="fas fa-fire">SE</i></a>

      <ul class="navbar-nav flex-nowrap ms-auto">


          <div class="d-none d-sm-block topbar-divider"></div>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about"><i style="color:blue;scale:1.50;" class="fa fa-info"></i></a>
        </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/media"><i style="color:blue;scale:1.50;" class="fa fa-video"></i></a>
        </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact"><i style="color:blue;scale:1.50;" class="fa fa-phone-square"></i></a>
        </li>
      </ul>
  </div>
