
<div style=" margin: 5px;">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation"style=" margin: 5px;"><a class="btn btn-info active" role="tab" data-bs-toggle="tab" href="#tab-1"> About the Pastor</a></li>
    <li class="nav-item" role="presentation"style=" margin: 5px;"><a class="btn btn-info " role="tab" data-bs-toggle="tab" href="#tab-2">  About the Ministry </a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" role="tabpanel" id="tab-1">

      <section class="section pt-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-sm-12 col-md-6 mb-4">
                    <img src="/assets/img/WhatsApp Image 2022-05-03 at 7.51.31 PM (1).jpeg" alt="feature bg" class="img-fluid">
                </div>

                <div class="col-lg-7 pl-4">
                   <div class="mb-5">
                        <h3 class="mb-4"> About the Pastor </h3>

                    </div>

                    <ul class="about-list">
                        <li>
                            <p>Pastor Chukwu Winner, President, Supernatural Encounter International Ministry, a young and passionate lover of God, born and brought up in Depper Life Bible Church,
                              whose zeal for God and expansion of his Kingdom has led him to reaching out to young adults, youths and teenagers in an attempt to spread the gospel light and raise giants for God. Born again at age 12, during Depper life youth success camp, Chukwu Winner has since been lifting the banner of Jesus. From his secondary school days, he served as the School fellowship's president. With a passion of raising a generation of purity and power,
                              Supernatural Encounter came to be in the year 2019 and has since experienced growth. In August, 2020, the ministry started a mentorship class, Supernatural Encounter Mentorship Program which to the glory of God is already a year transforming lifes with branches in 8 states of the federal republic of Nigeria. The ministry organizes evangelistic outreaches,
                               prayer conference and Fire conference. Chukwu Winner has released audio teachings which include: Divine Purpose, The Light, Dealing with Intention among many others. Currently the Managing Director of Supernatural Security Force (SSF); Chukwu Winner has been and is still a blessing to thousands of lives.</p>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
    <div class="tab-pane" role="tabpanel" id="tab-2">
      <h3 class="mb-4"> About the Ministry </h3>
      <section>
      <div class="row">
        <div class="col">
          <img src="/assets/img/WhatsApp Image 2022-05-03 at 7.51.31 PM (1).jpeg" alt="feature bg" class="img-fluid">
        </div>
        <div class="col">
          <img src="/assets/img/WhatsApp Image 2022-05-03 at 7.51.30 PM.jpeg" alt="feature bg" class="img-fluid">
        </div>
      </div><br/>
      <div class="row">
        <div class="col">
          <img src="/assets/img/WhatsApp Image 2022-05-03 at 7.51.31 PM (1).jpeg" alt="feature bg" class="img-fluid">
        </div>
        <div class="col">
          <img src="/assets/img/WhatsApp Image 2022-05-03 at 7.51.31 PM.jpeg" alt="feature bg" class="img-fluid">
        </div>
      </div>
      //////
      <div class="row">
        <div class="col">
          <img src="/assets/img/WhatsApp Image 2022-04-23 at 8.32.13 PM.jpeg" alt="feature bg" class="img-fluid">
        </div>
        <div class="col">
          <img src="/assets/img/WhatsApp Image 2022-05-03 at 7.51.32 PM (2).jpeg" alt="feature bg" class="img-fluid">
        </div>
      </div><br/>
      <div class="row">
        <div class="col">
          <img src="/assets/img/WhatsApp Image 2022-05-03 at 7.51.32 PM.jpeg" alt="feature bg" class="img-fluid">
        </div>
        <div class="col">
          <img src="/assets/img/WhatsApp Image 2022-05-03 at 7.51.33 PM.jpeg" alt="feature bg" class="img-fluid">
        </div>
      </div>
    </section>


    </div>
  </div>
</div>
